@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popping', sans-serif;
}
body
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #252839;
}
.title
{
    margin-top: 25rem;
}
.NaslovAnim
{
    position: relative;
    font-size: 3vw;
    color: #252839;
    -webkit-text-stroke: 0.1vw #ccc9c9;
}
.NaslovAnim::before
{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #01fe87;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid #01fe87;
    overflow: hidden;
    animation: animate 5s linear 1;

}
.about
{
    margin-right: 45rem;
    margin-bottom: 1rem;
    color: rgb(184, 178, 178);
    font-family: 'Popping';
    font-size: 1.5rem;
}
.descriptionAbout
{
    font-family: 'Popping';
    color: white;
    font-size: 1rem;
}
.links{
    font-size: 1.5rem;
    align-self: center;
}
.discord{
    font-family: 'Popping';
    color: rgb(119, 146, 146);
}
.github
{
    font-family: 'Popping';
    color: rgb(119, 146, 146);
}
.social
{
    font-family: 'Popping';
    color: rgb(119, 146, 146);
}

@keyframes animate
{
    0%,10%,100%
    {
        width: 0;
    }
    70%,80%
    {
        width: 100%;
    }
}